@import '@/assets/scss/vars/index.scss';

#exchange_form .input_wrap {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  // border: 1px solid map-get($color, 'primary');
  font-size: 2.5rem;
  color: map-get($color, 'primary');
  position: relative;
  @media (max-width: 1000px) {
    font-size: 2.2rem;
  }
  @media (max-width: 75em) {
    font-size: 2.6rem;
  }
  @media (max-width: 42em) {
    font-size: 2.1rem;
  }
  @media (max-width: 22.0625em) {
    font-size: 1.8rem;
  }
  & + .input_wrap {
    margin-top: 4rem;
  }
  &.active .remind {
    display: block;
  }
  .gift_name {
    width: 51%;
    letter-spacing: 1px;
    padding: 0.5rem 0 0.5rem 1rem;
  }
  .gift_point {
    padding: 0 1rem;
    letter-spacing: 1px;
    flex: 1;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem;
    @media (max-width: 75em) {
      margin-right: 5rem;
    }
    @media (max-width: 40em) {
      margin-right: 2rem;
    }
    span {
      margin-right: 0.5rem;
    }
  }
  .group {
    width: 33%;
    @media (max-width: 75em) {
      width: 34%;
    }
    select,
    input {
      height: 100%;
      padding: 0 1rem;
      // background-color: map-get($color, 'primary');
      color: #fff;
      font-size: 2.1rem;
      text-align: center;
      @media (max-width: 75em) {
        font-size: 2rem;
      }
      @media (max-width: 22.0625em) {
        font-size: 1.8rem;
      }
      &::placeholder {
        font-size: 2.1rem;
        font-weight: 400;
        color: #fff;
        @media (max-width: 75em) {
          font-size: 2rem;
        }
      }
    }
  }
  .remind {
    // color: map-get($color, 'light');
    color: #febd00;
    position: absolute;
    font-size: 1.6rem;
    left: 1rem;
    top: 90%;
    letter-spacing: 1px;
    padding-left: 1px;
    @media (max-width: 22.0625em) {
      font-size: 12px;
    }
  }
}

// #exchange_form .input_wrap .group input::placeholder,
// #exchange_form .input_wrap .group select::placeholder {
//   font-size: 2.1rem;
// }
// #exchange_form .input_wrap .group select {
//   font-size: 1.8rem;
// }

#exchange_prize .gift_point {
  color: #ff2f37;
}

#lottery_prize .gift_point {
  color: #febd00;
}

