@import '@/assets/scss/vars/index.scss';

.tab_page.exchange_record .th .grid {
  @media (max-width: 22.0625em) {
    font-size: 1.8rem;
  }
}

.tab_page.exchange_record .grid {
  text-align: center;
  line-height: 1.3;
  padding: 1rem;
  // padding: 0.5rem 1rem;
  &:nth-child(1) {
    width: 25%;
    @media (max-width: 400px) {
      width: 27%;
    }
  }
  &:nth-child(2) {
    width: 45%;
    // @media (max-width: 400px) {
    //   width: 33%;
    // }
  }
  &:nth-child(3) {
    flex: 1;
  }
}

.tab_page.exchange_record .td {
  font-size: 1.9rem;
  @media (max-width: 75em) {
    font-size: 2.1rem;
  }
  @media (max-width: 400px) {
    font-size: 1.9rem;
  }
}

.tab_page.exchange_record .td .grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 1.2;
  & > p {
    letter-spacing: 0;
    padding-left: 0;
    display: block;
    width: 100%;
  }
  // &:nth-child(1) {
    // font-style: italic;
  // }
  &:nth-child(2) {
    // text-align: left;
    text-align: center;
    flex-direction: unset;
    @media (max-width: 75em) {
      flex-direction: column;
    }
    .lottery_text {
        color: #ff2f37;
      // color: map-get($color, 'light');
      // font-size: 1.6rem;
      display: inline-block;
    }
    .lottery_color {
      color: #ff2f37;
    }
    p {
      display: inline-block;
      width: auto;
      @media (max-width: 1150px) {
        display: block;
        width: 100%;
      }
      &:first-child {
        color: #fff;
      }
    }
  }
  &:nth-child(3) {
    p {
      &:nth-child(1) {
        // color: map-get($color, 'titleNameBG');
        color: #fff;
      }
      &:nth-child(2) {
        font-size: 1.4rem;
        // color: map-get($color, 'primary');
        color: #febd00;
      }
      &:nth-child(2){
        &.lottery_color {
          color: #ff2f37;
        }
      }
    }
  }
}
